<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>dark运维平台</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/admin.css"/>
    <link rel="stylesheet" href="/static/switch/ios6switch.css"/>
    <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">  
            td{  
              text-align:center;
            } 
        </style>  
</head>
<body>
	<div class="container">
		<div class="table-list">
			<table id = "darkinfo-table" class="layui-table" lay-skin="line">
				<thead>
					<tr>
						<th>编号</th>
						<th>区域代码</th>
						<th>dark类型</th>
						<th>清理开关</th>
						<th>运行开关</th>
						<th style="width:25%;">状态</th>
					</tr>
				</thead>
				<tbody>
                    {% for host in hostlist %}
					<tr data-mid={{host.mid}}>
						<td>{{host.id}}</td>
						<td>{{host.mid}}</td>
						<td>{{host.darktype}}</td>

						{% if host.cleanswitch == 1 %}
						<td><input name="destory_option" type="checkbox" class="mycheckbox" checked/></td>
                                                {% else %}
						<td><input name="destory_option" type="checkbox" class="mycheckbox" /></td>
                                                {% endif %}

						{% if host.aliveswitch == 1 %}
						<td><input name="alive_info" type="checkbox" class="mycheckbox" checked/></td>
                                                {% else %}
						<td><input name="alive_info" type="checkbox" class="mycheckbox" /></td>
                                                {% endif %}
						<td style="width:25%;">{{ host.msg }}</td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript" src="/static/layui/layui.js"></script>
        <script type="text/javascript" src="/static/js/control.js"></script>
        <script type="text/javascript" src="/static/switch/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/static/switch/ios6switch.js"></script>
        <script>
$(".mycheckbox").ios6switch({
	switchoffText: "off",
	switchonText: "on",
        size:16
});
var switchel = $(".mycheckbox");
for(var i = 0;i < switchel.length; i++) {
$(".mycheckbox")[i].onchange=function(){
console.log(this.checked);
var currentel=this;
layui.use('layer', function(){
  var layer = layui.layer;
layer.confirm('确定进行该操作?', {
  btn: ['确定','取消'],
cancel: function(index, layero){ 
window.location.reload();
}    
 
}, function(){
  var mid = $(currentel).parent().parent().data("mid");
  var name = $(currentel).attr("name");
  var opt = currentel.checked;
  layer.prompt(
{
  formType: 1,
  value: '',
  title: '超级密码'
},

   function(value, index, elem){
  var passwd = value;
  $.post("/api/controldkstatus",{"mid":mid,"name":name,"opt":opt,"passwd":passwd},function(result){
        console.log(result);
        if (result.error == 0){
        layer.msg('修改成功', {icon: 1});
        }else{
        layer.msg(result.msg, {icon: 2});
setTimeout("window.location.reload();",1500);
}
    });
  layer.close(index);
  });


}, function(){
window.location.reload();
});

  
});  


}
}


      </script>
</body>
</html>
</html>
