<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta HTTP-EQUIV="Refresh" CONTENT="300">
    <title>dark状态监控</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/admin.css"/>
    <link rel="icon" type="image/ico" href="http://tattek.com/minimal/assets/images/favicon.ico" />
    <link href="/static/assets/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/css/minimal.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/vendor/animate/animate.min.css">
    <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" media="all" href="/static/assets/js/vendor/mmenu/css/jquery.mmenu.all.css" />
    <link rel="stylesheet" href="/static/assets/js/vendor/videobackground/css/jquery.videobackground.css">
    <link rel="stylesheet" href="/static/assets/css/vendor/bootstrap-checkbox.css">
</head>
<body>
              <div class="card-container col-lg-6 col-sm-6 col-sm-12">
                <div class="card card-redbrown hover">
                  <div class="front"> 

                    <div class="media">        
                      <span class="pull-left">
                        <i class="fa fa-desktop media-object"></i>
                      </span>

                      <div class="media-body">
                        <small>Total Hosts</small>
                        <h2 class="media-heading animate-number" data-value={{hoststotal}} data-animation-duration="1500">{{hoststotal}}</h2>
                      </div>
                    </div> 

                    <div class="progress-list">
                      <div class="details">
                        <div class="title">This month plan %</div>
                      </div>
                      <div class="status pull-right bg-transparent-black-1">
                        <span class="animate-number" data-value="83" data-animation-duration="1500">83</span>%
                      </div>
                      <div class="clearfix"></div>
                      <div class="progress progress-little progress-transparent-black">
                        <div class="progress-bar animate-progress-bar" data-percentage="83%" style="width: 83%;"></div>
                      </div>
                    </div>

                  </div>
                  <div class="back">
                    <a href="#">
                      <i class="fa fa-bar-chart-o fa-4x"></i>
                      <span>Check Summary</span>
                    </a>  
                  </div>
                </div>
              </div>
              <div class="card-container col-lg-6 col-sm-6 col-sm-12">
                <div class="card card-greensea hover">
                  <div class="front">        
                    
                    <div class="media">
                      <span class="pull-left">
                        <i class="fa fa-laptop media-object"></i>
                      </span>

                      <div class="media-body">
                        <small>Normal Hosts</small>
                        <h2 class="media-heading animate-number" data-value={{normalnum}} data-animation-duration="1500">{{normalnum}}</h2>
                      </div>
                    </div>

                    <div class="progress-list">
                      <div class="details">
                        <div class="title">This month plan %</div>
                      </div>
                      <div class="status pull-right bg-transparent-black-1">
                        <span class="animate-number" data-value="42" data-animation-duration="1500">42</span>%
                      </div>
                      <div class="clearfix"></div>
                      <div class="progress progress-little progress-transparent-black">
                        <div class="progress-bar animate-progress-bar" data-percentage="42%" style="width: 42%;"></div>
                      </div>
                    </div>

                  </div>
                  <div class="back">
                    <a href="#">
                      <i class="fa fa-bar-chart-o fa-4x"></i>
                      <span>Check Summary</span>
                    </a>
                  </div>
                </div>
              </div>

	</div>
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <script src="/static/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/static/assets/js/vendor/mmenu/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/vendor/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/vendor/animate-numbers/jquery.animateNumbers.js"></script>
    <script type="text/javascript" src="/static/assets/js/vendor/videobackground/jquery.videobackground.js"></script>
    <script type="text/javascript" src="/static/assets/js/vendor/blockui/jquery.blockUI.js"></script>
    <script src="/static/assets/js/minimal.min.js"></script>
    <script>
    $(function(){
      // Initialize card flip
      $('.card.hover').hover(function(){
        $(this).addClass('flip');
      },function(){
        $(this).removeClass('flip');
      });
      });

    </script>
</body>
</html>
</html>
