<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>dark运维平台</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/admin.css"/>
    <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <table id = "darkinfo-table" lay-filter="darkinfolist">
	<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
    <script>
    layui.use('table', function(){
      var table = layui.table
      ,form = layui.form,$=layui.jquery; 
      var tableIns=table.render({
        elem: '#darkinfo-table'
        ,url: '/api/darkinfolist'
        ,cols: [[ 
          {field: 'id', title: '编号', align:'center'}
          ,{field: 'mid', title: '区域代码' ,width:180,align:'center'}
          ,{field: 'dark_version',width:100, title: 'dark版本', align:'center'}
          ,{field: 'enabled' , width:100,align:'center',title: '报警开关',templet:function(d){
           if (d.enabled==1){
             return '<input type="checkbox" name="switchalarm" value='+d.mid+' lay-skin="switch" lay-text="开|关" lay-filter="switchDemo" checked>';
            }else{
             return '<input type="checkbox" name="switchalarm" value='+d.mid+' lay-skin="switch" lay-text="开|关" lay-filter="switchDemo">'; 
            }
      } 
          } 
          ,{field: 'dark_num', width:100, title: 'dark进程数', align:'center'}
          ,{field: 'boot_time',width:160, align:'center', title: 'dark启动时间',templet: function(e){
           if (e.dark_num < 1){
        return 'dark未启动';
           }else{
        return e.boot_time;
        }
      }}
          ,{field: 'update_time', width:160,align:'center', title: '更新时间'}
          ,{field: 'version_status',width:110, align:'center',title: '同步状态',templet: function(g){
           if (g.version_status==1){
             return '<i class="fa fa-circle fa-2x " style="color:green"></i>';
            }else{
             return '<i class="fa fa-info-circle fa-2x" style="color:red"></i>'; 
            }
      }}
          ,{field: 'status', title: '状态',align:'center',templet: function(f){
           if (f.status==1){
        return '<i class="fa fa-circle fa-2x " style="color:green"></i>';
          }else{
        return '<i class="fa fa-info-circle fa-2x" style="color:red"></i>';
}
      }}
          ,{field: 'message',width:150, title: '备注',align:'center'}
          ,{fixed: 'right',title:'操作',width:72, align:'center', toolbar: '#barDemo'}
        ]]
  });
table.on('tool(darkinfolist)', function(obj){
    var data = obj.data;
     if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
                data= {"mid":data.mid}
                console.log(data);
                $.ajax({
                    type: "post",
                    url: "/api/del_host",
                    data: data,
                    success: function(result) {
                    if (result.error == 0) {
                        layer.msg("已删除");
                        obj.del();
                        layer.close(index);
                        }else{
                            layer.msg(result.msg);
                            }
                  }
                });
      });
    }
  });
       form.on('switch(switchDemo)', function(obj){
                var checkdict=new Array();
                checkdict["true"]=1;
                checkdict["false"]=0;
                data= {"mid":this.value,"enabled":checkdict[obj.elem.checked]}
                console.log(data);
                $.ajax({
                    type: "post",
                    url: "/alarmswitch",
                    data: data,
                    success: function(result) {
                    if (result.error == 0) {
                        layer.msg("已更新")
                        tableIns.reload();
                        }else{
                            layer.msg(result.msg);
                            }
                  }
                });
       });
setInterval(tableIns.reload,10000);
      
    });
    </script>
</body>
</html>
</html>
