<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta HTTP-EQUIV="Refresh" CONTENT="60">
    <title>dark状态监控</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/admin.css"/>
    <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">  
            td{  
              text-align:center;
            } 
        </style>  
</head>
<body>
	<div class="container">
		<div class="handle-btn">
			<button class="layui-btn layui-btn-small layui-btn-normal" data-url="/addhost"><i class="layui-icon">&#xe628</i> 报警开关</button>
			<button class="layui-btn layui-btn-small layui-btn-danger" ><i class="layui-icon">&#xe640;</i> 删除</button>
{% if totalinfo.error == 0 %}
<button class="layui-btn layui-btn-small layui-btn-radius"><marquee  scrollAmount=2 behavior = "nlternate" onmouseover=this.stop() onmouseout=this.start() align=center width=500>实时状态：所有节点dark进程正常</marquee></button>
{% else %}
<button class="layui-btn layui-btn-small layui-btn-radius"><marquee  scrollAmount=2 behavior = "nlternate" onmouseover=this.stop() onmouseout=this.start() align=center width=500  ><font color=red>实时状态：{{totalinfo.error}}个节点异常，请注意！</font></marquee></button>
{% endif %}

		</div>

		<div class="table-list">
			<table id = "darkinfo-table" class="layui-table" lay-skin="line">
				<thead>
					<tr>
						<th>编号</th>
						<th>区域代码</th>
						<th>dark版本</th>
						<th>配置文件同步状态</th>
						<th>dark启动时间</th>
						<th>dark进程数</th>
						<th>更新时间</th>
						<th>状态</th>
						<th>备注</th>
					</tr>
				</thead>
				<tbody>
                    {% for host in hostlist %}
					<tr data-mid={{host.mid}}>
						<td>{{host.id}}</td>
						<td>{{host.mid}}</td>
						<td>{{host.dark_version}}</td>
						{% if host.new_config_version == host.old_config_version %}
						<td><i class="fa fa-circle fa-2x " style="color:green"></i></td>
                        {% else %}
						<td><i class="fa fa-info-circle fa-2x" style="color:red"></i></td>
                        {%endif%}
						{% if host.dark_num < 1 %}
						<td>dark未启动</td>
                                                {% else %}
						<td>{{host.boot_time}}</td>
                                                {% endif %}
						<td>{{host.dark_num}}</td>
						<td>{{host.update_time}}</td>
                        {% if host.status %}
						<td><i class="fa fa-circle fa-2x " style="color:green"></i></td>
                        {% else %}
						<td><i class="fa fa-info-circle fa-2x" style="color:red"></i></td>
                        {%endif%}
						<td>{{host.message}}</td>

					</tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript" src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/gtf.js"></script>
</body>
</html>
</html>
