<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>dark运维平台</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/admin.css"/>
    <link href="/static/circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
    <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
        <blockquote class="layui-elem-quote">系统信息概览</blockquote><div id="hostid" style="display:none;">{{id}}</div>
            <div class="layui-fluid">
            
                <div class="layui-row">
                    <div class="layui-col-md3">
                        <div class="circlcenter">
                        <div id="user-circle" data-animation="1" data-animationStep="6" data-foregroundBorderWidth="5" data-backgroundColor="none" data-fillColor="#eee" data-percent="100" data-iconColor="#3498DB" data-icon="f007" data-iconSize="40" data-iconPosition="middle" data-pointSize="10"  data-textBelow="true"></div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="circlcenter">
                        <div id="load-circle" data-animation="1" data-animationStep="6" data-foregroundBorderWidth="5" data-backgroundColor="none" data-fillColor="#eee" data-percent="100" data-iconColor="#3498DB" data-icon="f0ae" data-iconSize="40" data-iconPosition="middle" data-pointSize="10"  data-textBelow="true"></div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="circlcenter">
                        <div id="mem-circle" data-animation="1" data-animationStep="6" data-foregroundBorderWidth="5" data-backgroundColor="none" data-fillColor="#eee"  data-iconColor="#3498DB" data-icon="f21e" data-iconSize="40" data-iconPosition="middle" data-pointSize="10" data-text="memory" data-textBelow="true"></div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="circlcenter">
                        <div id="disk-circle" data-animation="1" data-animationStep="6" data-foregroundBorderWidth="5" data-backgroundColor="none" data-fillColor="#eee"  data-iconColor="#3498DB" data-icon="f0a0"  data-iconSize="40" data-iconPosition="middle" data-pointSize="10" data-text="disk" data-textBelow="true"></div>
                        </div>
                    </div>
                </div>
            
            </div>
			<table id = "darkinfo-table" lay-filter="hostmonitorinfo">
		</div>
	</div>
	<script type="text/javascript" src="/static/layui/layui.js"></script>
        <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="/static/circliful/js/jquery.circliful.min.js"></script>
<script>
    $( document ).ready(function() {
        var id=$('#hostid').html();
        $.ajax({
            url:'/api/hostsysteminfo?id='+id,
            type:'GET', //GET
            async:true,    //或false,是否异步
            timeout:5000,    //超时时间
            dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
            success:function(data,textStatus,jqXHR){
                console.log(data)
                console.log(textStatus)
                console.log(jqXHR)
                if (data.error==0){
                $("#user-circle").circliful({text:"users:"+data.users});
                $("#load-circle").circliful({text:"load:"+data.load});
                $("#mem-circle").circliful({progressColor:{ 90:"#FF0000",60:"#00FF00",75:"#FFFF00"},percent:data.memory});
                $("#disk-circle").circliful({progressColor:{ 90:"#FF0000",60:"#00FF00",75:"#FFFF00"},percent:data.disk});
                }else{
               console.log(data.msg); 
               }
            },
            error:function(xhr,textStatus){
                console.log('错误')
                console.log(xhr)
                console.log(textStatus)
            },
            complete:function(){
                console.log('结束')
            }
        })
    });
</script>
<script>
layui.use('table', function(){
  var table = layui.table;
  var id=$('#hostid').html();
  
  table.render({
    elem: '#darkinfo-table'
    ,skin: 'line'
    ,url: '/api/hostprocesslist?id='+id //数据接口
    ,cols: [[ 
      {field: 'process',align:"center", title: '业务进程'}
      ,{field: 'listenport', align:"center",title: '监听端口'}
      ,{field: 'updatetime', align:"center",title: '更新时间'}
      ,{field: 'message',align:"center", title: '备注'}
    ]]
  });
  
});
</script>
</body>
</html>
